mixin projectPreview(title, tagline, date, techStack, imgSrc, imgCaption)
  article.project
    header
      h2.project__title= title
      p.project__tagline= tagline
      time.project__date= date
      p.project__tech-stack= techStack
    section
      p.project__description
        block
    figure
      img(src=imgSrc).project__image
      figcaption.project__caption= imgCaption